{% extends 'Admin/admin_base.html' %}
{% load static %}
{% block content %}

<main>
    <div class="table-responsive " style="margin: 0px; margin-top: 10px;">
        <table class="table">
            <thead>
                <tr class="text-center">
                    
                    
                    <th scope="col" class="table-secondary text-nowrap">NAME</th>
                    <th scope="col" class="table-secondary text-nowrap">EMAIL</th>
                    <th scope="col" class="table-secondary text-nowrap">MESSAGE</th>
                    

                </tr>
            </thead>
            <tbody>
                {% for enquiry in enquiry %}
                    <tr class="text-center">
                        
                        <td  class="table-secondary text-nowrap">{{ enquiry.name }}</td>
                        <td  class="table-secondary text-nowrap">{{ enquiry.email }}</td>
                        <td class="table-secondary">{{ enquiry.message }}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock content %}