{% extends "User/base.html" %}
{% load static %}
{% block content %}

	<main class="bg_gray">
		<div class="container margin_30">
			<div class="page_header">
				<div class="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Category</a></li>
						<li>Page active</li>
					</ul>
				</div>
				<h1>Fawz Blog &amp; News</h1>
			</div>
			<!-- /page_header -->
			<div class="row">
				<div class="col-lg-9">
					<!-- <div class="widget search_blog d-block d-sm-block d-md-block d-lg-none">
						<div class="form-group">
							<input type="text" name="search" id="search" class="form-control" placeholder="Search..">
							<button type="submit"><i class="ti-search"></i></button>
						</div>
					</div> -->
					<!-- /widget -->
					<div class="row">
						<div class="col-md-6">
							<article class="blog">
								<figure>
									<a href="#"><img src="{% static 'user/asset/box-mockup 01.png' %}" alt="">
										<!-- <div class="preview"><span>Read more</span></div> -->
									</a>
								</figure>
								<div class="post_info">
									<small>Category - 22 Nov. 2022</small>
									<h2><a href="#">Welcome to Brost Powder: Your Journey to Better Health Begins Here </a></h2>
									<p>Welcome to the official blog of Brost Powder Company! We're thrilled to embark on this journey with you towards a healthier, more vibrant lifestyle. At Brost, we believe that nourishing your body with the right nutrients is the foundation of overall well-being. Our mission is to provide you with a premium nutritional supplement that supports your health goals, no matter what they may be.</p>
									<ul>
										<li>
											<div class="thumb"><img src="{% static 'user/img/avatar.jpg' %}" alt=""></div> Admin
										</li>
										<li><i class="ti-comment"></i>20</li>
									</ul>
								</div>
							</article>
							<!-- /article -->
						</div>
						<!-- /col -->
						<div class="col-md-6">
							<article class="blog">
								<figure>
									<a href="#"><img src="{% static 'user/asset/box-mockup 02.png' %}" alt="">
										<!-- <div class="preview"><span>Read more</span></div> -->
									</a>
								</figure>
								<div class="post_info">
									<small>Category - 26 Nov. 2022</small>
									<h2><a href="#"> Unveiling the Power of Brost Powder: Nutrients That Nourish</a></h2>
									<p>Brost Powder is more than just a supplement—it's a carefully crafted blend of essential nutrients that your body craves. Packed with vitamins, minerals, and antioxidants, our powder is designed to give your body the fuel it needs to thrive. From immunity-boosting Vitamin C to muscle-repairing protein, each ingredient has a specific role in promoting your health.</p>
									<ul>
										<li>
											<div class="thumb"><img src="{% static 'user/img/avatar.jpg' %}" alt=""></div> Admin
										</li>
										<li><i class="ti-comment"></i>20</li>
									</ul>
								</div>
							</article>
							<!-- /article -->
						</div>
						<!-- /col -->
						<div class="col-md-6">
							<article class="blog">
								<figure>
									<a href="#"><img src="{% static 'user/asset/Cardamom-Label-mock-01.png' %}" alt="">
										<!-- <div class="preview"><span>Read more</span></div> -->
									</a>
								</figure>
								<div class="post_info">
									<small>Category - 12 Nov. 2022</small>
									<h2><a href="#">Flavor Profile and Culinary Uses</a></h2>
									<p>Describe the unique flavor profile of cumin - earthy, nutty, and slightly peppery with warm undertones.
										Highlight its versatility in various cuisines, including Indian, Mexican, Middle Eastern, and more.</p>
									<ul>
										<li>
											<div class="thumb"><img src="{% static 'user/img/avatar.jpg' %}" alt=""></div> Admin
										</li>
										<li><i class="ti-comment"></i>20</li>
									</ul>
								</div>
							</article>
							<!-- /article -->
						</div>
						<!-- /col -->
						<div class="col-md-6">
							<article class="blog">
								<figure>
									<a href="#"><img src="{% static 'user/asset/Cinnamon-Label-mock-01.png' %}" alt="">
										<!-- <div class="preview"><span>Read more</span></div> -->
									</a>
								</figure>
								<div class="post_info">
									<small>Category - 09 Nov. 2022</small>
									<h2><a href="#">A Health Benefits of Cumin</a></h2>
									<p>Outline the potential health benefits of cumin, including aiding digestion, supporting the immune system, and providing a good source of iron.
										Reference scientific studies that back up these health claims, if available.</p>
									<ul>
										<li>
											<div class="thumb"><img src="{% static 'user/img/avatar.jpg' %}" alt=""></div> Admin
										</li>
										<li><i class="ti-comment"></i>20</li>
									</ul>
								</div>
							</article>
							<!-- /article -->
						</div>
						<!-- /col -->
						<div class="col-md-6">
							<article class="blog">
								<figure>
									<a href="#"><img src="{% static 'user/asset/Fawz-FB-Cover-2.jpg' %}" alt="">
										<!-- <div class="preview"><span>Read more</span></div> -->
									</a>
								</figure>
								<div class="post_info">
									<small>Category - 19 Nov. 2022</small>
									<h2><a href="#">Fuel Your Day: Energizing Brost Powder Breakfast Recipes</a></h2>
									<p>Start your mornings on the right foot with these delicious and nutritious breakfast recipes featuring Brost Powder. Whether you're a smoothie enthusiast or prefer hearty oatmeal, these recipes will kickstart your day with a burst of energy and vitality.</p>
									<ul>
										<li>
											<div class="thumb"><img src="{% static 'user/img/avatar.jpg' %}" alt=""></div> Admin
										</li>
										<li><i class="ti-comment"></i>20</li>
									</ul>
								</div>
							</article>
							<!-- /article -->
						</div>
						<!-- /col -->
						<div class="col-md-6">
							<article class="blog">
								<figure>
									<a href="#"><img src="{% static 'user/asset/Mace-Label-mock-01.png' %}" alt="">
										<!-- <div class="preview"><span>Read more</span></div> -->
									</a>
								</figure>
								<div class="post_info">
									<small>Category - 30 Nov. 2022</small>
									<h2><a href="#">Beyond the Kitchen: Cumin in Culture and Traditio</a></h2>
									<p>Explore cumin's role in cultural practices and traditions, such as its use in rituals and folk remedies.
										Discuss how cumin has transcended geographical boundaries to become a global staple.Highlight how cumin elevates the flavor of the salad.</p>
									<ul>
										<li>
											<div class="thumb"><img src="{% static 'user/img/avatar.jpg' %}" alt=""></div> Admin
										</li>
										<li><i class="ti-comment"></i>20</li>
									</ul>
								</div>
							</article>
							<!-- /article -->
						</div>
						<!-- /col -->
					</div>
					<!-- /row -->

					<div class="pagination__wrapper no_border add_bottom_30">
						<ul class="pagination">
							<li><a href="#0" class="prev" title="previous page">&#10094;</a></li>
							<li>
								<a href="#0" class="active">1</a>
							</li>
							<li>
								<a href="#0">2</a>
							</li>
							<li>
								<a href="#0">3</a>
							</li>
							<li>
								<a href="#0">4</a>
							</li>
							<li><a href="#0" class="next" title="next page">&#10095;</a></li>
						</ul>
					</div>
					<!-- /pagination -->

				</div>
				<!-- /col -->

				<aside class="col-lg-3">
					<div class="widget search_blog d-none d-sm-none d-md-none d-lg-block">
						<!-- <div class="form-group">
							<input type="text" name="search" id="search_blog" class="form-control" placeholder="Search..">
							<button type="submit"><i class="ti-search"></i></button>
						</div> -->
					</div>
					<!-- /widget -->
					<div class="widget">
						<div class="widget-title">
							<h4>Latest Post</h4>
						</div>
						<ul class="comments-list">
							<li>
								<div class="alignleft">
									<a href="#0"><img src="{% static 'user/asset/Cardamom-Label-mock-01.png' %}" alt=""></a>
								</div>
								<small>Category - 11.12.2022</small>
								<h3><a href="#" title="">Beyond the Kitchen:...</a></h3>
							</li>
							<li>
								<div class="alignleft">
									<a href="#0"><img src="{% static 'user/asset/nutmeg-Label-mock-01.png' %}" alt=""></a>
								</div>
								<small>Category - 11.08.2023</small>
								<h3><a href="#" title="">Fuel Your Day:..</a></h3>
							</li>
							<li>
								<div class="alignleft">
									<a href="#0"><img src="{% static 'user/asset/Mace-Label-mock-01.png' %}" alt=""></a>
								</div>
								<small>Category - 13.08.2023</small>
								<h3><a href="#" title="">Flavor Profile and Culinary Uses...</a></h3>
							</li>
						</ul>
					</div>
					<!-- /widget -->
					<div class="widget">
						<div class="widget-title">
							<h4>Categories</h4>
						</div>
						<ul class="cats">
							<li><a href="#">Food <span>(12)</span></a></li>
							<li><a href="#">Places to visit <span>(21)</span></a></li>
							<li><a href="#">New Places <span>(44)</span></a></li>
							<li><a href="#">Suggestions and guides <span>(31)</span></a></li>
						</ul>
					</div>
					<!-- /widget -->
					<div class="widget">
						<div class="widget-title">
							<h4>Popular Tags</h4>
						</div>
						<div class="tags">
							<a href="#">Food</a>
							<a href="#">Bars</a>
							<a href="#">Cooktails</a>
							<a href="#">Shops</a>
							<a href="#">Best Offers</a>
							<a href="#">Transports</a>
							<a href="#">Restaurants</a>
						</div>
					</div>
					<!-- /widget -->
				</aside>
				<!-- /aside -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!--/main-->
	
{% endblock content %}