{% extends "User/base.html" %}
{% load static %}
{% block content %}
{% include 'User/header.html' %}
      
    
<main>
	<br><br><br>
	{% include 'User/alert.html' %}

	<!-- checkout-area-start -->
	<section class="checkout-area pb-85">
		<div class="container">
			{% if subtotal == 0 %}
			{% else %}
				<form action="{% url 'order' %}" method="post">
					{% csrf_token %}
					<div class="row">
						<div class="col-lg-6">
							<div class="bg-success">
								<h3 class="p-2 pl-5 text-white">Delivery Address</h6>
							</div>
							<div class="p-2 d-flex" style="border: #333 1px solid;">
								<input type="radio" name="" id="">
								<h6 class="px-2">Muhsy</h6>
							</div>
						</div>
						{% comment %}
						<div class="col-lg-6">
							<div class="checkbox-form">
								<h3>Billing Details</h3>
								
								<div class="row">
									<div class="col">
										<label for="place_order">Select a saved address:</label>
										<select name="place_order" id="address">
											<option value="">-- Select an address --</option>
											{% for place_order in place_orders %}
												<option value="{{ place_order.id }}">{{ place_order.first_name }} {{ place_order.last_name }} - {{ place_order.address }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col">
										
										<p >Crete new palc order</p>
										<input type="radio">
										
									</div>
								</div>
									
								<div class="row" >
									
									<div class="col-md-6">
										<div class="checkout-form-list">
											<label>First Name <span class="required">*</span></label>
											<input type="text"  name="first_name" id="first_name" placeholder="">
										</div>
									</div>
									<div class="col-md-6">
										<div class="checkout-form-list">
											<label>Last Name <span class="required">*</span></label>
											<input type="text" name="last_name" placeholder="">
										</div>
									</div>
									<!-- <div class="col-md-12">
										<div class="checkout-form-list">
											<label>Company Name</label>
											<input type="text" placeholder="">
										</div>
									</div> -->
									<div class="col-md-12">
										<div class="checkout-form-list">
											<label>Address <span class="required">*</span></label>
											<input type="text" name="address" placeholder="Street address">
										</div>
									</div>
									<!-- <div class="col-md-12">
										<div class="checkout-form-list">
											<input type="text" placeholder="Apartment, suite, unit etc. (optional)">
										</div>
									</div> -->
									<div class="col-md-12">
										<div class="checkout-form-list">
											<label>Town / City <span class="required">*</span></label>
											<input type="text" name="city" placeholder="Town / City">
										</div>
									</div>
									<!-- <div class="col-md-6">
										<div class="checkout-form-list">
											<label>State / County <span class="required">*</span></label>
											<input type="text" placeholder="">
										</div>
									</div> -->
									<div class="col-md-6">
										<div class="checkout-form-list">
											<label>Pincode / Zip <span class="required">*</span></label>
											<input type="text" name="postel_code" placeholder="Pincode / Zip">
										</div>
									</div>
									<!-- <div class="col-md-6">
										<div class="checkout-form-list">
											<label>Email Address <span class="required">*</span></label>
											<input type="email" placeholder="">
										</div>
									</div> -->
									<div class="col-md-6">
										<div class="checkout-form-list">
											<label>Phone <span class="required">*</span></label>
											<input type="text" name="phone" placeholder="Phone">
										</div>
									</div>
									<div class="order-notes">
										<div class="checkout-form-list">
											<label>Order Notes</label>
											<textarea id="checkout-mess" cols="30" name="order_note" rows="10" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
										</div>
									</div>
									
									
								</div>
								
								
							</div>
						</div>
						{% endcomment %}
						<div class="col-lg-6">
							<div class="your-order mb-30 ">
								<h3>Your order</h3>
								<div class="your-order-table table-responsive">
									<table>
										<thead>
											<tr>
												<th class="product-name">Product</th>
												<th class="product-total">Total</th>
											</tr>
										</thead>
										<tbody>
											
											{% for cart in cart %}
												<tr class="cart_item">
													<td class="product-name">
														{{ cart.product.name }} <strong class="product-quantity">{{ cart.price_dummy }} × {{ cart.quantity }}</strong>
													</td>
													<td class="product-total">
														<span class="amount">{{ cart.total }}</span>
													</td>
												</tr>
											{% endfor %}
										</tbody>
										<tfoot>
											<tr class="cart-subtotal">
												<th>Cart Subtotal</th>
												<td><span class="amount">{{ subtotal }}</span></td>
											</tr>
											<tr class="shipping">
												<th>Shipping</th>
												<td>
													<ul>
													
														<li>
															
															<label>
																<span class="amount">{{ shipping_charge }}</span>
															</label>
														</li>
														
													</ul>
												</td>
											</tr>
											<tr class="order-total">
												<th>Order Total</th>
												<td><strong><span class="amount">{{ total_of_total }}</span></strong>
												</td>
											</tr>
										</tfoot>
									</table>
								</div>

								<div class="payment-method">
									<div class="accordion" id="checkoutAccordion">
									
									</div>
									<div class="order-button-payment mt-10">
										<button type="submit" class="tp-btn-h1">Continue</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			{% endif %}
		</div>
	</section>
	<!-- checkout-area-end -->

	
	<script>
		$(document).ready(function(){
			$('#address').on('change' , function(){
				var address_id = $('#address').val()
				
				$.ajax({
					url : '{% url "get-address" %}',
					type : 'POST',
					data : {'address_id':address_id},

					success : function(response){
						console.log(response.response)
						$('#first_name').val(response.address.first_name)
					}
				})
			})
		})
	</script>
</main>
	{% include 'User/footer.html' %}
	{% endblock content %}
    

	<style>
		/* Foe Quantiys */
		.quantity-wrapper {
		display: inline-block;
		border: 2px solid #ccc;
		border-radius: 5px;
		padding: 5px;
		}
	
		.quantity-button {
		display: inline-block;
		width: 25px;
		height: 25px;
		text-align: center;
		line-height: 25px;
		background-color: #f0f0f0;
		color: #333;
		text-decoration: none;
		border-radius: 50%;
		font-weight: bold;
		font-size: 18px;
		margin: 0 5px;
		}
	
		.quantity {
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		font-weight: bold;
		font-size: 16px;
		}
	
		@media (max-width: 767px) {
			.quantity-wrapper{
				display: flex;
			}
			.lazy{
				display: none;
			}
		}
	
	</style>